body {
  background: #f5d0d0;
  font-family: sans-serif;
  max-height: 450px;
}

.weather-app {
  background: #fffafa;
  max-width: 550px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 50px 50px 20px 50px;
  border-radius: 15px;
}

.search-input {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 0 30px 0;
  padding: 15px;
  border: 2px solid #fc85ae;
  border-radius: 10px;
  width: 75%;
}

.button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 0 0 5px;
  padding: 15px 20px;
  background: #fc85ae;
  color: #fffafa;
  border: 2px solid #fc85ae;
  border-radius: 10px;
}

.button:hover {
  color: #fc85ae;
  background: #fffafa;
  border: 2px solid #fc85ae;
  cursor: pointer;
}

.current-city {
  font-size: 63px;
  margin: 0;
  padding: 0;
  color: #fc85ae;
  font-family: "Patrick Hand", sans-serif;
}

.current-details {
  color: #a2a8d3;
  font-size: 18px;
  word-spacing: 3px;
  line-height: 30px;
  padding: 20px 0 0 0;
}

footer {
  border-top: 1px solid#a2a8d3;
  font-family: "Patrick Hand", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #a2a8d3;
  padding: 10px 0 0 0;
}

p {
  font-family: sans-serif;
}

strong {
  color: #fc85ae;
}

a {
  color: #fc85ae;
}

.weather-app-content {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 10px 0;
}

.current-temp-container {
  display: flex;
  font-family: sans-serif;
  color: #fc85ae;
  opacity: 70%;
  margin-right: 28px;
  margin-bottom: 100px;
  max-height: 100px;
}

.temp-value {
  font-size: 81px;
  font-weight: bolder;
  margin: 0 auto;
}

.temp-icon {
  width: 54px;
  height: 54px;
  margin-top: 3px;
  margin-right: 35px;
}

.temp-unit {
  font-size: 25px;
  margin-top: 15px;
}

#forecast {
  font-family: sans-serif;
  font-size: 16px;
  color: #77529e;
  opacity: 75%;
  margin: 0 auto;
  padding: 0 auto;
  display: inline-flex;
  border-top: 1px solid #fc85ae;
  width: 300px;
  height: 120px;
  justify-content: space-evenly;
}
