body {
  background: #ffe0e0;
  font-family: sans-serif;
  max-height: 450px;
}

.weather-app {
  background: #fffafa;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 50px;
  border-radius: 15px;
}

.search-input {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 0 30px 0;
  padding: 15px;
  border: 2px solid #fc85ae;
  border-radius: 10px;
  width: 75%;
}

.button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 0 0 5px;
  padding: 15px 20px;
  background: #fc85ae;
  color: #fffafa;
  border: 2px solid #fc85ae;
  border-radius: 10px;
}

.button:hover {
  color: #fc85ae;
  background: #fffafa;
  border: 2px solid #fc85ae;
  cursor: pointer;
}

.current-city {
  font-size: 63px;
  margin: 0;
  padding: 0;
  color: #fc85ae;
  font-family: "Patrick Hand", sans-serif;
}

.current-details {
  color: #a2a8d3;
  font-size: 15px;
  line-height: 30px;
}

footer {
  font-family: "Patrick Hand", sans-serif;
  margin: 20px 0 0 0;
  text-align: center;
  color: #a2a8d3;
}

p {
  font-family: sans-serif;
}

strong {
  color: #fc85ae;
}

a {
  color: #fc85ae;
}

.weather-app-content {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 10px 0;
}

.current-temp-container {
  display: flex;
  font-family: sans-serif;
  color: #fc85ae;
  opacity: 50%;
  margin-right: 28px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.temp-value {
  font-size: 75px;
  font-weight: bolder;
}

.temp-icon {
  font-size: 35px;
  margin-top: 18px;
  margin-right: 6px;
}

.temp-unit {
  font-size: 25px;
  margin-top: 15px;
}
